.header__link {
  text-decoration: none;

  &>button {
    color: #fff;
  }
}

.dialog {
  position: relative;

  &__close {
    position: absolute;
    top: 0;
    left: 520px;
    cursor: pointer;
  }
}